/*
.cor-fundo {color: #D8DED1;}
.cor-destaque {color: #738B34}
.cor-principal {font-color: #323626}
.cor-clara {color: #8DB626;}
.cor-neutra {color: #546134}
*/

html{
    background: #D8DED1;
    color: #323626;
    text-emphasis-color: #738B34 ;

    font-size: 16px;
    font-family: tahoma, arial, sans-serif;
        
}

p {text-indent: 1em;}

h1, h2, h3 {text-align: center;}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary {text-align: center;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps;}

